<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>Authentication Form</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Controllers & Authentication Form </a>
                </div>
            </div>
        </nav>
   
        <div class="container main-content">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-controll" type="text" id="name" name="name"/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-controll" type="email" id="email" name="email"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-controll" type="password" id="password" name="password"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Register</button>
                </div>
            </form>
            </div>
        </div>
        <script src="./../node_modules/angular/angular.min.js"></script>
    </body>
</html>